// color palette - these colors will be the color swatches of the Colors section

$color-1: #333244; // Heavy Daydream Blue
$color-2: #e4d97a; // Acid Yellow
$color-3: #cbc19e; // White in Cloud (Tanish Cream)
$color-4: #a49d8a; // Granola (greyish brown)
$color-5: #ffffff; // white

// additional colors

$success: #6fce72; // green
$alert: $color-3; // red
